<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<description>Spring公共配置</description>
	<context:component-scan base-package="com.xinrui.demo.dao" use-default-filters="true">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
	</context:component-scan>
	<context:property-placeholder ignore-unresolvable="true" file-encoding="utf-8"
		location="classpath:database.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${mysql.user}" />
		<property name="password" value="${mysql.password}" />
		<property name="driverClass" value="${mysql.driverClass}" />
		<property name="jdbcUrl" value="${mysql.jdbcUrl}" />
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="checkoutTimeout" value="30000" />
		<property name="maxIdleTime" value="1800" />
		<property name="acquireRetryAttempts" value="2" />
		<property name="testConnectionOnCheckin" value="true" />
		<property name="preferredTestQuery" value="SELECT 1" />
		<property name="idleConnectionTestPeriod" value="18000" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="typeAliasesPackage" value="com.xinrui.demo.bean" />
		<property name="mapperLocations" value="classpath*:/mybatis/domain/*.xml" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.xinrui.demo.dao" />
	</bean>
</beans>